*, *:before, *:after {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  margin-top: 20px;
  font-family: sans-serif;
}

.container {

  margin: 0 auto;
}

.warp {
  display: inline-block;
}

.warp-item {
  -webkit-filter: blur(0);
  -webkit-transition: -webkit-transform 0.1s linear;
  transition: -webkit-transform 0.1s linear;
  transition: transform 0.1s linear;
  transition: transform 0.1s linear, -webkit-transform 0.1s linear;
}

.card-wrapper {
  margin: 60px;
}

.card {
  width: 300px;
  border: 1px solid #ccc;
  -webkit-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}
.card:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

.card-image {
  height: 150px;
  background: #ccc;
}

.card-content {
  padding: 10px;
}
.card-content h3 {
  margin: 0;
  margin-bottom: 5px;
}
.card-content p {
  margin: 0;
  font-size: 12px;
}

.tab-labels, .tab-contents {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.tab-labels {
  margin-left: 16px;
  margin-bottom: 16px;
}

.tab-label {
  cursor: pointer;
  display: inline-block;
  padding: 10px;
  color: #7f7f7f;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  position: relative;
}
.tab-label:hover {
  color: black;
}
.tab-label:before {
  content: '';
  position: absolute;
  display: block;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  opacity: 0;
  background: black;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.tab-label.tab--active {
  color: black;
}
.tab-label.tab--active:before {
  opacity: 1;
  width: 100%;
  left: 0;
}

.tab-content {
  display: none;
}
.tab-content.tab--active {
  display: block;
}

.hotspots {
  position: relative;
  overflow: hidden;
  display: block;
}
.hotspots:before {
  display: block;
  padding-top: 50%;
  content: '';
}

.hotspot-photo {
  background-color: #ccc;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: -30px;
  left: -30px;
  right: -30px;
  bottom: -30px;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}

.hotspot {
  position: absolute;
  text-align: center;
  text-decoration: none;
  top: 0;
  left: 0;
  padding-top: 2px;
  width: 30px;
  height: 30px;
  background-color: #d7d5e3;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 25px;
  background-image: url("https://image.flaticon.com/icons/svg/3062/3062516.svg");
  border-radius: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
  transition: box-shadow 0.2s ease-in-out, background 0.2s ease-in-out;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8), 0 0 0 4px rgba(215, 213, 227, 0.3), 0 0 0 8px rgba(215, 213, 227, 0.2), 0 0 20px 10px rgba(215, 213, 227, 0.2);
}
.hotspot:hover {
  background-color: #f4f4f7;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.8), 0 0 0 6px rgba(215, 213, 227, 0.3), 0 0 0 10px rgba(215, 213, 227, 0.2), 0 0 20px 10px rgba(215, 213, 227, 0.2);
}

.drawer-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 50%;
  background: black;
  color: white;
  z-index: 2;
  padding: 20px;
  -webkit-transform: translatex(100%);
          transform: translatex(100%);
}

.drawer-image {
  position: absolute;
  top: 0;
  left: 0;
  height: 50%;
  width: 100%;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}

.drawer-inner {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50%;
  overflow: auto;
  padding: 30px;
}

.drawer-close {
  position: absolute;
  top: calc(50% - 20px);
  left: -20px;
  width: 40px;
  height: 40px;
  opacity: 0;
  cursor: pointer;
  -webkit-transform: rotate(-180deg) translateX(20px);
          transform: rotate(-180deg) translateX(20px);
  background-color: white;
  background-image: url("https://image.flaticon.com/icons/svg/2413/2413486.svg");
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center center;
  border-radius: 50%;
  z-index: 1;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}
.drawer-close:hover {
  background-color: #d7d5e3;
  background-image: url("https://image.flaticon.com/icons/svg/2413/2413486.svg");
}

.drawer-heading {
  margin: 0;
  margin-bottom: 16px;
}

.drawer-text {
  color: #8b8b8b;
  font-size: 13px;
  line-height: 20px;
}